<div class="row">
    <div class="col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                    Selfie
            </div>
            <div class="card-body">
                <img class="img-border" style="width:100%;" src="assets/images/no-photo.png">
            </div>
            <div class="card-footer text-muted">
                <kendo-buttongroup>
                    <button kendoButton [look]="'outline'">
                        <i class="fa fa-pencil"></i> Reject
                    </button>
                    <button kendoButton [primary]="true">
                        <i class="fa fa-trash-o"></i> Approve
                    </button>
                </kendo-buttongroup>  
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                    Front of your hairline
            </div>
            <div class="card-body">
                <img class="img-border" style="width:100%;" src="assets/images/no-photo.png">
            </div>
            <div class="card-footer text-muted">
                <kendo-buttongroup>
                    <button kendoButton [look]="'outline'">
                        <i class="fa fa-pencil"></i> Reject
                    </button>
                    <button kendoButton [primary]="true">
                        <i class="fa fa-trash-o"></i> Approve
                    </button>
                </kendo-buttongroup>  
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                    Back of your hairline
            </div>
            <div class="card-body">
                <img class="img-border" style="width:100%;" src="assets/images/no-photo.png">
            </div>
            <div class="card-footer text-muted">
                <kendo-buttongroup>
                    <button kendoButton [look]="'outline'">
                        <i class="fa fa-pencil"></i> Reject
                    </button>
                    <button kendoButton [primary]="true">
                        <i class="fa fa-trash-o"></i> Approve
                    </button>
                </kendo-buttongroup>  
            </div>
        </div>
    </div>
</div>