  
<!-- Sidebar -->
<div class="sidebar-wrapper collapse show" id="sidebar-wrapper">
    <ul class="sidebar-nav">     
        <li class="{{router.url.startsWith('/dashboard')?'active':''}}">
            <a [routerLink]="['/dashboard']"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li class="{{router.url.startsWith('/available-case')?'active':''}}">
            <a [routerLink]="['/available-case']"><i class="far fa-folder"></i> Available Case</a>
        </li>
        <li class="{{router.url.startsWith('/my-case')?'active':''}}">
            <a [routerLink]="['/my-case']"><i class="far fa-address-card"></i> My Case</a>
        </li>
        <li class="{{router.url.startsWith('/comunication')?'active':''}}">
            <a><i class="far fa-comment-alt"></i> Comunication</a>
        </li>
        <li class="{{router.url.startsWith('/billing')?'active':''}}">
            <a><i class="far fa-money-bill-alt"></i> Billing</a>
        </li>
        <li class="{{router.url.startsWith('/setting')?'active':''}}">
            <a><i class="fas fa-cogs"></i> Setting</a>
        </li>
        <!-- <li class="active">
            <a><i class="fas fa-cogs"></i> Administration</a>
            <ul>
                <li><a class="active-sub" (click)="router.navigate(['user'])">User</a></li>
                <li><a  (click)="router.navigate(['role'])">Role</a></li>
                <li><a href="#">Patient</a></li>
            </ul>
        </li> -->
    </ul>
</div>
<!-- /#sidebar-wrapper -->