<div class="form-row">
    <div class="form-group {{_moreClass}} col-sm-12" *ngIf="!_horizontalForm">
        <label for="{{_id}}">{{_label}} <span class="text-danger" *ngIf="_required">*</span></label>
        <kendo-maskedtextbox  class="form-control" [maskValidation]="_maskValidation" [includeLiterals]="_includeLiterals" (blur)="handleBlur()" [(ngModel)]="_model" [mask]="_masked"  id="{{_id}}" [readonly]="_readonly" [disabled]="_disabled" name="{{_id}}"></kendo-maskedtextbox>        
    </div>

    <div class="{{_moreClass}}" *ngIf="_horizontalForm">
        <label for="{{_id}}" class="{{_classLabel}} col-form-label">{{_label}} <span class="text-danger" *ngIf="_required">*</span></label>
        <div class="{{_classField}}">            
            <kendo-maskedtextbox  class="form-control" [maskValidation]="_maskValidation" [includeLiterals]="_includeLiterals" (blur)="handleBlur()" [(ngModel)]="_model" [mask]="_masked"  id="{{_id}}" [readonly]="_readonly" [disabled]="_disabled" name="{{_id}}"></kendo-maskedtextbox>
        </div>
    </div>
</div>