<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Communication</li>
    </ol>
  </nav>
  <div class="content">
    <div class="row">
      <div class="col-sm-4">
        <h6>Contacts</h6>        
        <ul>     
            <li style="line-height: 40px">
                <a>Physician Group 1</a>
            </li>
            <li style="line-height: 40px">
                <a>Physician Group 2</a>
            </li>
            <li style="line-height: 40px">
                    <a>Physician Group 3</a>
                </li>
            <li style="line-height: 40px">
                <a>Physician 1</a>
            </li>
            <li style="line-height: 40px">
                <a>Physician 2</a>
            </li>
            <li style="line-height: 40px">
                <a>Physician 3</a>
            </li>
            <li style="line-height: 40px">
                <a>Physician 4</a>
            </li>
            <li style="line-height: 40px">
                <a>Physician 5</a>
            </li>            

        </ul>
      </div>
      <div class="col-sm-8">
          <h6>Physician Group 1</h6>
          <kendo-chat style="width: 100%;"
            [messages]="messages"
            [user]="user"
            (sendMessage)="sendMessage($event)"
            >
            </kendo-chat>
      </div>
    </div>    
  </div>
