<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> Dashboard</li>
  </ol>
</nav>
<div class="content">
  <div class="row no-gutters">
    <div class="col-sm-6">
        <div class="card bg-success m-3">
            <div class="card-header">
                <strong>Availble Case</strong>
            </div>
            <div class="card-body p0">
                <pt-grid [inputUseHeaderDefault]="false" [inputPageable]="false" [inputUseActionDefault]="false" [inputGridDataSource]="gridAvailbleDataSource"
                      [inputGridColumns]="gridAvailbleColumns" inputMasterName="Availble" [inputHeight]="heightGrid"></pt-grid>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-info mt-3 mr-3">
            <div class="card-header">
                <strong>My Case</strong>
            </div>
            <div class="card-body p0">
                <pt-grid [inputUseHeaderDefault]="false" [inputPageable]="false" [inputUseActionDefault]="false" [inputGridDataSource]="gridMyDataSource"
                      [inputGridColumns]="gridMyColumns" inputMasterName="My" [inputHeight]="heightGrid"></pt-grid>
            </div>
        </div>
    </div>
  </div>
  <ng-template #patientDetail let-dataItem>
      <span>{{dataItem.PatientName}}</span><br/>
      <span>Gender: {{dataItem.Gender}}, Age: {{dataItem.Age}}</span><br/>
  </ng-template>
  <ng-template #actionAvailble let-dataItem>
      <div class="text-center">
          <button class="btn btn-primary" [routerLink]="['/available-case-detail']">View</button>
      </div>
  </ng-template>
  <ng-template #actionMy let-dataItem>
      <div class="text-center">
          <button class="btn btn-primary" [routerLink]="['/my-case-detail']">View</button>
      </div>
  </ng-template>
</div>