<div class="form-row">
    <div class="form-group {{_moreClass}} col-sm-12" *ngIf="!_horizontalForm">
        <label for="{{_id}}">{{_label}} <span class="text-danger" *ngIf="_required">*</span></label>
        <kendo-numerictextbox  class="form-control" [(ngModel)]="_model"  [format]="_format" [step]="_step" [min]="_min" [max]="_max" id="{{_id}}" [readonly]="_readonly" [disabled]="_disabled" name="{{_id}}"></kendo-numerictextbox>        
    </div>

    <div class="{{_moreClass}}" *ngIf="_horizontalForm">
        <label for="{{_id}}" class="{{_classLabel}} col-form-label">{{_label}} <span class="text-danger" *ngIf="_required">*</span></label>
        <div class="{{_classField}}">
            <kendo-numerictextbox  class="form-control" [(ngModel)]="_model" [format]="_format" [step]="_step" [min]="_min" [max]="_max"  id="{{_id}}" [readonly]="_readonly" [disabled]="_disabled" name="{{_id}}"></kendo-numerictextbox>        
        </div>
    </div>
</div>