.k-card {
    border: none !important;
}

.content-note {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
    height: 553px;
    
}
.note-box{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 5px;
}
.k-chat{
    border: none;
}