<nav aria-label="breadcrumb">
  <div class="row">
    <div class="col-md-6" style="padding: 0px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/available-case']">Case</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">001</li>
          </ol>
    </div>
    <div class="col-md-6" style="background-color: #e9ecef;">
        <div style="text-align: right; margin-top: 5px;">
            <button class="btn btn-primary" style="margin-right: 5px;">Approved</button>
            <button class="btn btn-danger">Rejected</button>
        </div>
    </div>
  </div>
  
  
</nav>
<div class="content">
  <form name="formBase">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="card m-3">
                <div class="card-header">
                    <strong>Drug: XHair</strong>
                </div>
                <div class="card-body">
                    <p style="margin-left: 10px; margin-bottom: 0px;">Duration: 12 month</p>
                  <p style="margin-left: 10px; margin-bottom: 0px;">Condition:</p>
                  <ul>
                    <li>Age over 25 under 66</li>
                    <li>Gender: Male</li>
                    <li>Weight: Over 90 lbs</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-3 mr-3">
                <div class="card-header">
                    <strong>Patient Information</strong>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Full name: Tom Ridder</li>
                        <li>Address: Houston</li>
                        <li>Phone: 016-2547-2658</li>
                        <li>Age: 25</li>
                        <li>Email: abc@caminos.com</li>
                      </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">  
            
        <kendo-tabstrip class="mr-3 ml-3 mb-3">
            <kendo-tabstrip-tab name="tab1" [title]="'Questionnaire'" [selected]="true">
              <ng-template kendoTabContent>
                <app-case-question></app-case-question>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab name="tab2" [title]="'Photos'">
              <ng-template kendoTabContent>
                <app-case-photo></app-case-photo>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab name="tab3" [title]="'Communication'" style="overflow-x:hidden; ">
              <ng-template kendoTabContent>
                <app-case-message></app-case-message>
              </ng-template>
            </kendo-tabstrip-tab>
          </kendo-tabstrip>
              
          </div>
    </div>   

  </form>
</div>